<p-accordion 
    [multiple]="true" 
>
    <p-accordionTab *ngFor="let subseccion of data.subSecciones; let i = index">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="title">
                    <i class="pi pi-calendar mr-2 vertical-align-middle"></i>
                    <span class="vertical-align-middle">{{ subseccion.seccion }}</span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <app-tabla-datos [data]="subseccion"></app-tabla-datos>
        </ng-template>
    </p-accordionTab>
</p-accordion>