
<p-toast></p-toast>

<form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="row">
        
      <div class="col-4">
        <label for="unidad" class="d-flex mt-2">Unidad: <span class="required"></span></label>
        <!--input 
          id="unidad"
          pInputText
          class="form-control" 
          maxlength="50" 
          formControlName="unidad"
          [ngClass]="{'ng-invalid ng-dirty': esInvalido('unidad')}"-->
      
        <p-dropdown 
        id="unidad"
        [options]="unidades" 
        [(ngModel)]="selectedUnidades" 
        optionLabel="name"
        placeholder="unidad"
        formControlName="unidad"
        optionValue="name"
        class="full-width" 
        [(ngModel)]="selectedUnidad"
        (onChange)="SeleccionaUnidad($event.value);"
        ></p-dropdown>
        <div *ngIf="esInvalido('unidad')">
          <small
            class="error-msg"
          >
            {{ obtenerMensajeError('unidad') }}
          </small>
        </div>
      </div>

      <div class="col-4" style="text-decoration: none; visibility: {{stilovisible}};">
        <!--label for="cantidad" >Cantidad: <span class="required"></span></label-->
        <label for="cantidad" >Cantidad: </label>
        <p-inputNumber 
            formControlName="cantidad"
            class="full-width" 
            (onBlur)="cambiarValoresFechas()"
        ></p-inputNumber>
        <div *ngIf="esInvalido('cantidad')">
          <small
            class="error-msg"
          >
            {{ obtenerMensajeError('cantidad') }}
          </small>
        </div>
      </div>
      
      <!--div class="col-4">
        <div class="form-group">
            <label for="reembolsable">Reembolsable:</label>
            <div>
                <p-inputSwitch 
                    formControlName="reembolsable"
                ></p-inputSwitch>
            </div>
        </div>
      </div-->
      
      <div class="col-4" style="text-decoration: none; visibility: {{stilovisible}};">
        <div class="form-group">
            <label for="aplicaTodosMeses">Aplica a todos los meses:</label>
            <div>
                <p-inputSwitch 
                    formControlName="aplicaTodosMeses"
                    (onChange)="cambiarValoresFechas()"
                ></p-inputSwitch>
            </div>
        </div>
      </div>
      
    </div>
    <div class="row" style="text-decoration: none; visibility: {{stilovisiblepp}};">
        <ng-container formArrayName="fechas">
            <div 
                *ngFor="let fecha of fechas.controls; let i = index" 
                class="col-6"
                [formGroupName]="i"
            >
                <div class="d-grid">
                    <label [for]="'campo-fecha-'+i">
                        <strong>{{fecha.value.desc | uppercase}}:</strong>
                    </label>
                    <p-inputNumber 
                        formControlName="porcentaje" 
                        inputId="minmax" 
                        [id]="'campo-fecha-'+i"
                        mode="decimal" 
                        [min]="0" 
                        [readonly]="form.value.aplicaTodosMeses"
                        [disabled]="fecha.value.disabled"
                    ></p-inputNumber>
                </div>
            </div>
        </ng-container>
    </div>
    
    <!-- LEO Gastos comentarios I -->
    <div class="col-12" *ngIf="this.SeccionIdValor!=2">
            <div class="row">
                    
                <label for="chcomentarios">Comentarios:</label>
                    <textarea
                      id="chcomentarios"
                      pInputTextarea
                      class="form-control no-resize"
                      rows="3"
                      maxlength="250"
                      formControlName="chcomentarios"
                      [ngClass]="{'ng-invalid ng-dirty': esInvalido('chcomentarios')}"
                    ></textarea>
                <div *ngIf="esInvalido('chcomentarios')">
                <small
                    class="error-msg"
                >
                    {{ obtenerMensajeError('chcomentarios') }}
                </small>
                </div>
                
            </div>      
        </div>
    <!-- LEO Gastos comentarios F -->

    <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-info" (click)="guardar()" [disabled]="!form.valid">Guardar</button>
    </div>

</form>
