<div>
    <div *ngIf="!data; else contenidoData">
        No se encontraron datos...
    </div>
    <ng-template #contenidoData>
        <p-table [value]="data.registros" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let encabezado of data.encabezados">
                        {{ encabezado | uppercase }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-registro let-rowIndex="rowIndex">
                <tr>
                    <td *ngFor="let dato of registro">
                        <span *ngIf="dato.url && rowIndex; else textoPlano">
                            <a [href]="dato.url" target="_blank">
                                <p *ngIf="dato.valor == 'Previsto' || dato.valor == 'REAL'; else valorMoneda">{{ dato.valor }}</p>
                                <ng-template #valorMoneda>
                                    <p>{{ dato.valor | currency }}</p>
                                </ng-template>
                            </a>
                        </span>
                        <ng-template #textoPlano>
                            <p *ngIf="dato.valor == 'Previsto' || dato.valor == 'REAL'; else valorMoneda">{{ dato.valor }}</p>
                            <ng-template #valorMoneda>
                                <p>{{ dato.valor | currency }}</p>
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</div>