<p-toast style="top: 4rem;">
</p-toast>

<div class="content">
    <p-toolbar>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h5>¿Estas seguro que deseas finalizar la auditoria?</h5>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="pr-2">
                    <button class="btn btn-danger" (click)="onFinish()">Finalizar</button>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="onCancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </p-toolbar>
</div>