
<p-toast></p-toast>

<div class="main-container">

  <h1>Costo por empleado</h1>
  
  <div class="table-container">

    

    
    <p-table 
      #tablaPrincipal
      class="tabla-filtro"
      [value]="costos" 
      [paginator]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
      [rows]="10"
      paginatorPosition="both"
      [globalFilterFields]="['numEmpleadoRrHh', 'numEmpleadoNoi', 'nombreCompletoEmpleado']" 
      styleClass="p-datatable-striped">

        
      
              <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <!--i class="pi pi-search"></i-->
                        <input pInputText #buscador type="text" (input)="tablaPrincipal.filterGlobal(buscador.value, 'contains')" placeholder="        Buscar..." />
                    </span>
                </div>
              </ng-template>
            
      
        

      <ng-template pTemplate="header">
        <tr>
          <!-- <th>Opcion</th> -->
          <th pSortableColumn="numEmpleadoRrHh">
            <div class="d-flex align-items-center">No. Empleado 
              <p-sortIcon field="numEmpleadoRrHh"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="numEmpleadoNoi"><div class="d-flex align-items-center">No. Empleado NOI <p-sortIcon field="numEmpleadoNoi"></p-sortIcon></div></th>
          <th pSortableColumn="nombreCompletoEmpleado"><div class="d-flex align-items-center">Nombre <p-sortIcon field="nombreCompletoEmpleado"></p-sortIcon></div></th>
          <th pSortableColumn="ciudad"><div class="d-flex align-items-center">Ciudad Base de Trabajo <p-sortIcon field="ciudad"></p-sortIcon></div></th>
          <th pSortableColumn="puesto"><div class="d-flex align-items-center">Puesto <p-sortIcon field="puesto"></p-sortIcon></div></th>
          <th pSortableColumn="numProyecto"><div class="d-flex align-items-center">Proyecto <p-sortIcon field="numProyecto"></p-sortIcon></div></th>
          <th pSortableColumn="sueldoBruto"><div class="d-flex align-items-center">SUELDO BRUTO (inflación %) <p-sortIcon field="sueldoBruto"></p-sortIcon></div></th>
          <th pSortableColumn="cargasSociales"><div class="d-flex align-items-center">CARGAS SOCIALES <p-sortIcon field="cargasSociales"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo Mensual Empleado <p-sortIcon field="falta"></p-sortIcon></div></th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-costo>
        <tr>
          <td>
            <a 
              class="text-success font-bold"
              [routerLink]="['/costos/costo-proyecto', costo.numEmpleadoRrHh]"
            >
              {{ costo.numEmpleadoRrHh }}
            </a>
          </td>
          <!--td>{{costo.numEmpleadoRrHh}}</td-->
          <td>{{costo.numEmpleadoNoi}}</td>
          <td>{{costo.nombreCompletoEmpleado}}</td>
          <td>{{costo.ciudad}}</td>
          <td>{{costo.puesto}}</td>
          <td>{{costo.proyecto}}</td>
          <td>{{costo.sueldoBrutoInflacion|currency}}</td>
          <td>{{costo.cargasSociales|currency}}</td>
          <td>{{costo.costoMensualEmpleado|currency}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
</div>
