
<p-toast></p-toast>

<div class="main-container">

  <h1>Costo por empleado</h1>

  <div class="row" style="margin-left: 5px;">
           
        
    <div class="col-3">
        <label for="descripcion">Personas:</label>
        <div class="">
            <p-dropdown #listaPersona [options]="personass" placeholder="Seleccionar una persona" (onChange)="tablaPrincipal.filter(listaPersona.value, 'nombreCompletoEmpleado', 'equals')" [showClear]="true" [filter]="true" filterBy="value" appendTo="body">
            <ng-template let-option pTemplate="item">
                <p-tag [value]="option.value" severity="success"></p-tag>
            </ng-template>
        </p-dropdown>
        </div>
    </div>
        <div class="col-2">
            <label for="puesto">Puesto:</label>
            <div class="">
                <p-dropdown #lista [options]="puestos" (onChange)="tablaPrincipal.filter(lista.value, 'puesto', 'equals')" placeholder="puesto" [showClear]="true" [filter]="true" filterBy="value" appendTo="body">
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.value" severity="success"></p-tag>
                    </ng-template>
                </p-dropdown>
            </div>                
        </div>
        <div class="col-4">
          <label for="proyecto">Proyecto:</label>
          <div class="">
            <p-dropdown #listaProyecto [options]="proyectos" placeholder="Seleccionar un proyecto" (onChange)="tablaPrincipal.filter(listaProyecto.value, 'proyecto', 'equals')" [showClear]="true" [filter]="true" filterBy="value" appendTo="body">
              <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.value" severity="success"></p-tag>
              </ng-template>
          </p-dropdown>
          </div>                
      </div>

      <!--div class="col-4">
        <label for="email">Fecha Inicio:</label>
        <div class="">
            <p-calendar [showIcon]="true" styleClass="w-full" dateFormat="dd/mm/yy" [maxDate]="maxDate" [(ngModel)]="fechaInicio"></p-calendar>
           
        </div>
    </div>
    <div class="col-4">
        <label for="email">Fecha Fin:</label>
        <div class="">
            <p-calendar [showIcon]="true" styleClass="w-full" dateFormat="dd/mm/yy" [maxDate]="maxDate" [(ngModel)]="fechaFin"></p-calendar>
           
        </div>
    </div-->



        <!--div class="col-3">
            <label for="activo">Estado:</label>
            <div class="">
                <p-dropdown #listaEstados [options]="estados" (onChange)="tablaPrincipal.filter(listaEstados.value, 'boactivo', 'equals')" placeholder="Estatus" [showClear]="true" [filter]="true" filterBy="value" appendTo="body">
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.label" severity="success"></p-tag>
                    </ng-template>
                </p-dropdown>
            </div>                
        </div-->


    
</div>

<!--div class="row">
  <div class="col-12 d-flex justify-content-center align-items-center gap-2">
      <button type="button" class="btn btn-dark" (click)="clearFiltros()"><i class="fas fa-eraser"></i> Limpiar filtros</button>
      <button type="button" class="btn btn-primary" (click)="busqueda()"><i class="fas fa-save"></i> Buscar</button>
  </div>
</div-->
 

  <p-toolbar styleClass="p-1 mb-0 d-flex justify-content-end gap-2 text-right border-none" >
    <p-button icon="pi pi-file-excel" label="Exportar Excel" styleClass="p-button-success" (click)="exportJsonToExcel()"></p-button>
</p-toolbar>


  
  <div class="table-container">

  <p-table 
      #tablaPrincipal
      class="tabla-filtro"
      [value]="costos" 
      [paginator]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
      [rows]="10"
      paginatorPosition="both"
      [globalFilterFields]="['numEmpleadoRrHh', 'numEmpleadoNoi', 'nombreCompletoEmpleado']" 
      styleClass="p-datatable-striped">

        
      
              <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <!--i class="pi pi-search"></i-->
                        <input pInputText #buscador type="text" (input)="tablaPrincipal.filterGlobal(buscador.value, 'contains')" placeholder="        Buscar..." />
                    </span>
                </div>
              </ng-template>
            
      
        

      <ng-template pTemplate="header">
        <tr>
          <!-- <th>Opcion</th> -->
          <th pSortableColumn="numEmpleadoRrHh">
            <div class="d-flex align-items-center">No. Empleado 
              <p-sortIcon field="numEmpleadoRrHh"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="numEmpleadoNoi"><div class="d-flex align-items-center">No. Empleado NOI <p-sortIcon field="numEmpleadoNoi"></p-sortIcon></div></th>
          <th pSortableColumn="nombreCompletoEmpleado"><div class="d-flex align-items-center">Nombre <p-sortIcon field="nombreCompletoEmpleado"></p-sortIcon></div></th>
          <th pSortableColumn="ciudad"><div class="d-flex align-items-center">Ciudad Base de Trabajo <p-sortIcon field="ciudad"></p-sortIcon></div></th>
          <th pSortableColumn="puesto"><div class="d-flex align-items-center">Puesto <p-sortIcon field="puesto"></p-sortIcon></div></th>
          <th pSortableColumn="numProyecto"><div class="d-flex align-items-center">Proyecto <p-sortIcon field="numProyecto"></p-sortIcon></div></th>
          <th pSortableColumn="sueldoBruto"><div class="d-flex align-items-center">SUELDO BRUTO (inflación %) <p-sortIcon field="sueldoBruto"></p-sortIcon></div></th>
          <th pSortableColumn="cargasSociales"><div class="d-flex align-items-center">CARGAS SOCIALES <p-sortIcon field="cargasSociales"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo Mensual Empleado <p-sortIcon field="falta"></p-sortIcon></div></th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-costo>
        <tr>
          <td>
            <a 
              class="text-success font-bold"
              [routerLink]="['/costos/costo-proyecto', costo.numEmpleadoRrHh]"
            >
              {{ costo.numEmpleadoRrHh }}
            </a>
          </td>
          <!--td>{{costo.numEmpleadoRrHh}}</td-->
          <td>{{costo.numEmpleadoNoi}}</td>
          <td>{{costo.nombreCompletoEmpleado}}</td>
          <td>{{costo.ciudad}}</td>
          <td>{{costo.puesto}}</td>
          <td>{{costo.proyecto}}</td>
          <td>{{costo.sueldoBrutoInflacion|currency}}</td>
          <td>{{costo.cargasSociales|currency}}</td>
          <td>{{costo.costoMensualEmpleado|currency}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
</div>
