<p-toast></p-toast>

<form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="row">
        <div class="col-12">
            <label for="numEmpleadoRrHh">Usuario:</label>
            <p-dropdown id="numEmpleadoRrHh" [options]="usuarios" formControlName="numEmpleadoRrHh" placeholder="Seleccionar un usuario" optionLabel="name" [showClear]="true" [style]="{ width: '100%' }" optionValue="code" [filter]="true" filterBy="name" [appendTo]="'body'"></p-dropdown>
        </div>

        <div class="col-12">
            <label for="numProyecto">Proyecto {{form.value.numProyecto}}:</label>
            <p-dropdown id="numProyecto" [options]="proyectos" formControlName="numProyecto" placeholder="Seleccionar un proyecto" optionLabel="name" [showClear]="true" [style]="{ width: '100%' }" optionValue="code" [filter]="true" filterBy="name" [appendTo]="'body'"></p-dropdown>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-primary" (click)="guardar()" ><i class="fas fa-save"></i> Guardar</button>
    </div>
</form>
