<p-toast></p-toast>

<div class="text-center" *ngIf="cargando; else principal">
    <p-progressSpinner styleClass="w-5rem h-5rem custom-spinner"></p-progressSpinner>
    <p>Cargando Gastos...</p>
    <p><strong>Un momento.</strong></p>
</div>

<ng-template #principal>
    <div class="content" style="margin: 2%">
        <p-accordion [multiple]="true" (onOpen)="cargarInformacionSeccion($event)">
            <p-accordionTab *ngFor="let seccion of secciones.value; let i = index">
                <ng-template pTemplate="header">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="title">
                            <i class="pi pi-calendar mr-2 vertical-align-middle"></i>
                            <span class="vertical-align-middle">{{ seccion.codigo }} {{ seccion.seccion }}</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div *ngIf="!seccionesCargado[i]; else contenido" class="text-center">
                        <p-progressSpinner styleClass="w-5rem h-5rem custom-spinner"></p-progressSpinner>
                    </div>
                    <ng-template #contenido>
                        <app-seccion-contenido [data]="seccionesData[i]"></app-seccion-contenido>
                    </ng-template>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </div>
</ng-template>